In [52]:
import pandas as pd

In [53]:
df=pd.read_csv("weather_data.csv")

In [54]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [55]:
df.shape

(6, 4)

In [56]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [57]:
df.day

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [58]:
df.temperature.max()

35

In [59]:
df["temperature"].std()

3.8297084310253524

In [60]:
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [61]:
df[['temperature','day']][df["temperature"]<=df["temperature"].max()]

   temperature       day
0           32  1/1/2017
1           35  1/2/2017
2           28  1/3/2017
3           24  1/4/2017
4           32  1/5/2017
5           31  1/6/2017

In [65]:
df.set_index('day')

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

In [70]:
df.index=pd.RangeIndex(start=1,stop=7)

In [71]:
df

        day  temperature  windspeed  event
1  1/1/2017           32          6   Rain
2  1/2/2017           35          7  Sunny
3  1/3/2017           28          2   Snow
4  1/4/2017           24          7   Snow
5  1/5/2017           32          4   Rain
6  1/6/2017           31          2  Sunny

In [46]:
df

RangeIndex(start=1, stop=7, step=1)

In [73]:
data=[ (1/1/2017,32,6,'rainny'),
        (1/2/2017,35,7,"sunny"),
         (1/3/2017,39,2,"snow")]

In [75]:
df2=pd.DataFrame(data,columns=["A","B","C","D"])

In [76]:
df2

          A   B  C       D
0  0.000496  32  6  rainny
1  0.000248  35  7   sunny
2  0.000165  39  2    snow