In [7]:
import pandas as pd

In [8]:
df=pd.read_csv("weather_data1.csv",parse_dates=["day"])

In [9]:
df

         day  temperature  windspeed   event
0 2017-01-01         32.0        6.0    Rain
1 2017-01-04          NaN        9.0   Sunny
2 2017-01-05         28.0        NaN    Snow
3 2017-01-06          NaN        7.0     NaN
4 2017-01-07         32.0        NaN    Rain
5 2017-01-08          NaN        NaN   Sunny
6 2017-01-09          NaN        NaN     NaN
7 2017-01-10         34.0        8.0  Cloudy
8 2017-01-11         40.0       12.0   Sunny

In [10]:
df.dtypes

day            datetime64[ns]
temperature           float64
windspeed             float64
event                  object
dtype: object

In [11]:
new_df=df.fillna({'temperature':df["temperature"].mean(),
                 "windspeed": 0,
                 "event": "no event"})

In [12]:
new_df

         day  temperature  windspeed     event
0 2017-01-01         32.0        6.0      Rain
1 2017-01-04         33.2        9.0     Sunny
2 2017-01-05         28.0        0.0      Snow
3 2017-01-06         33.2        7.0  no event
4 2017-01-07         32.0        0.0      Rain
5 2017-01-08         33.2        0.0     Sunny
6 2017-01-09         33.2        0.0  no event
7 2017-01-10         34.0        8.0    Cloudy
8 2017-01-11         40.0       12.0     Sunny