In [1]:
import pandas as pd

In [3]:
weather_india=pd.DataFrame({"city":["mumbai","delhi","banglore"],
                           "humidity":[80,60,78],
                           "temperature":[32,45,30]})

In [5]:
weather_us=pd.DataFrame({"city":["new york","chicago","oriando"],
                           "humidity":[68,60,75],
                           "temperature":[21,14,35]})

In [10]:
pd.concat([weather_india,weather_us],keys=["india","us"])

             city  humidity  temperature
india 0    mumbai        80           32
      1     delhi        60           45
      2  banglore        78           30
us    0  new york        68           21
      1   chicago        60           14
      2   oriando        75           35