In [63]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [64]:
df=pd.read_csv("https://raw.githubusercontent.com/codebasics/py/master/ML/18_PCA/Exercise/heart.csv")

In [65]:
df

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [66]:
df.describe()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease
count,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000
mean,53.510893,132.396514,198.799564,0.233115,136.809368,0.887364,0.553377
std,9.432617,18.514154,109.384145,0.423046,25.460334,1.066570,0.497414
min,28.000000,0.000000,0.000000,0.000000,60.000000,-2.600000,0.000000
25%,47.000000,120.000000,173.250000,0.000000,120.000000,0.000000,0.000000
50%,54.000000,130.000000,223.000000,0.000000,138.000000,0.600000,1.000000
75%,60.000000,140.000000,267.000000,0.000000,156.000000,1.500000,1.000000
max,77.000000,200.000000,603.000000,1.000000,202.000000,6.200000,1.000000

In [67]:
df.isnull().sum()

Age               0
Sex               0
ChestPainType     0
RestingBP         0
Cholesterol       0
FastingBS         0
RestingECG        0
MaxHR             0
ExerciseAngina    0
Oldpeak           0
ST_Slope          0
HeartDisease      0
dtype: int64

## Remove outlier using 3 std

In [68]:
df1 = df[(df['RestingBP']<(df.RestingBP.mean()+3*df.RestingBP.std())) & (df['RestingBP']>(df.RestingBP.mean()-3*df.RestingBP.std()))]

In [69]:
df2 = df1[(df1['Cholesterol']<(df1.Cholesterol.mean()+3*df1.Cholesterol.std())) & (df1['Cholesterol']>(df1.Cholesterol.mean()-3*df1.Cholesterol.std()))]

In [70]:
df3 =df2[(df2['MaxHR']<(df2.MaxHR.mean()+3*df2.MaxHR.std())) & (df2['MaxHR']>(df2.MaxHR.mean()-3*df2.MaxHR.std()))]

In [71]:
df4 = df3[(df3['Oldpeak']<(df3.Oldpeak.mean()+3*df3.Oldpeak.std())) & (df3['Oldpeak']>(df3.Oldpeak.mean()-3*df3.Oldpeak.std()))]

In [72]:
df4.shape

(899, 12)

In [73]:
df4

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [74]:
df4['Sex'].unique()

array(['M', 'F'], dtype=object)

In [75]:
df4['ChestPainType'].unique()

array(['ATA', 'NAP', 'ASY', 'TA'], dtype=object)

In [76]:
df4["RestingECG"].unique()

array(['Normal', 'ST', 'LVH'], dtype=object)

In [77]:
df4["ExerciseAngina"].unique()

array(['N', 'Y'], dtype=object)

In [78]:
df4["ST_Slope"].unique()

array(['Up', 'Flat', 'Down'], dtype=object)

# Replace string values with numbers

In [88]:
df5 = df4.copy()

df5 = df5.replace({"Sex":{'M':0,"F":1},
                   "ChestPainType":{"ATA":0,"NAP":1,"ASY":2,"TA":3},
                  "RestingECG":{"Normal":0,"ST":1,"LVH":2},
                  "ExerciseAngina":{"N":0,"Y":1},
                  "ST_Slope":{"Up":0,"Flat":1,"Down":2}})
df5

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,0,0,140,289,0,0,172,0,0.0,0,0
1,49,1,1,160,180,0,0,156,0,1.0,1,1
2,37,0,0,130,283,0,1,98,0,0.0,0,0
3,48,1,2,138,214,0,0,108,1,1.5,1,1
4,54,0,1,150,195,0,0,122,0,0.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,0,3,110,264,0,0,132,0,1.2,1,1
914,68,0,2,144,193,1,0,141,0,3.4,1,1
915,57,0,2,130,131,0,0,115,1,1.2,1,1
916,57,1,0,130,236,0,2,174,0,0.0,1,1
917,38,0,1,138,175,0,0,173,0,0.0,0,0

In [89]:
df5["ST_Slope"].unique()

array([0, 1, 2], dtype=int64)

In [90]:
X = df5.drop("HeartDisease",axis=1)
X.shape

(899, 11)

In [92]:
y = df5["HeartDisease"]
y.shape

(899,)

In [93]:
from sklearn.model_selection import train_test_split

In [94]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [95]:
from sklearn.svm import SVC
model = SVC()
model.fit(X_train,y_train)
model.score(X_test, y_test)

0.7277777777777777

In [96]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(X_train,y_train)
model.score(X_test, y_test)

C:\Users\tejas\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.8555555555555555

In [97]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier()
model.fit(X_train,y_train)
model.score(X_test, y_test)

0.8888888888888888

In [98]:
from sklearn.decomposition import PCA

In [135]:
pca =PCA(n_components=10)

In [136]:
X_pca = pca.fit_transform(X)

In [137]:
X_train, X_test, y_train, y_test = train_test_split(X_pca, y, test_size=0.20, random_state=42)

In [138]:
from sklearn.svm import SVC
model = SVC()
model.fit(X_train,y_train)
model.score(X_test, y_test)

0.7388888888888889

In [139]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(X_train,y_train)
model.score(X_test, y_test)

C:\Users\tejas\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.8444444444444444

In [140]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier()
model.fit(X_train,y_train)
model.score(X_test, y_test)

0.8611111111111112