In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/codebasics/py/master/ML/19_Bagging/Exercise/heart.csv")

In [3]:
df

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [4]:
df.shape

(918, 12)

In [5]:
df.isnull().sum()

Age               0
Sex               0
ChestPainType     0
RestingBP         0
Cholesterol       0
FastingBS         0
RestingECG        0
MaxHR             0
ExerciseAngina    0
Oldpeak           0
ST_Slope          0
HeartDisease      0
dtype: int64

In [7]:
df.describe()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease
count,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000
mean,53.510893,132.396514,198.799564,0.233115,136.809368,0.887364,0.553377
std,9.432617,18.514154,109.384145,0.423046,25.460334,1.066570,0.497414
min,28.000000,0.000000,0.000000,0.000000,60.000000,-2.600000,0.000000
25%,47.000000,120.000000,173.250000,0.000000,120.000000,0.000000,0.000000
50%,54.000000,130.000000,223.000000,0.000000,138.000000,0.600000,1.000000
75%,60.000000,140.000000,267.000000,0.000000,156.000000,1.500000,1.000000
max,77.000000,200.000000,603.000000,1.000000,202.000000,6.200000,1.000000

In [24]:
df1 = df[df["RestingBP"]<(df["RestingBP"].mean()+3*df["RestingBP"].std())]
df2 = df1[df1["Cholesterol"]<(df1["Cholesterol"].mean()+3*df1["Cholesterol"].std())]
df3 = df2[df2["Oldpeak"]<(df2["Oldpeak"].mean()+3*df2["Oldpeak"].std())]
df4 = df3.copy()
df4

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [27]:
from sklearn.preprocessing import LabelEncoder
encode = LabelEncoder()
df4["Sex"] =encode.fit_transform(df4["Sex"])
df4["ExerciseAngina"] =encode.fit_transform(df4["ExerciseAngina"])
df4

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,1,ATA,140,289,0,Normal,172,0,0.0,Up,0
1,49,0,NAP,160,180,0,Normal,156,0,1.0,Flat,1
2,37,1,ATA,130,283,0,ST,98,0,0.0,Up,0
3,48,0,ASY,138,214,0,Normal,108,1,1.5,Flat,1
4,54,1,NAP,150,195,0,Normal,122,0,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,1,TA,110,264,0,Normal,132,0,1.2,Flat,1
914,68,1,ASY,144,193,1,Normal,141,0,3.4,Flat,1
915,57,1,ASY,130,131,0,Normal,115,1,1.2,Flat,1
916,57,0,ATA,130,236,0,LVH,174,0,0.0,Flat,1
917,38,1,NAP,138,175,0,Normal,173,0,0.0,Up,0

In [31]:
df4["ChestPainType"].unique()

array(['ATA', 'NAP', 'ASY', 'TA'], dtype=object)

In [33]:
df4["RestingECG"].unique()

array(['Normal', 'ST', 'LVH'], dtype=object)

In [34]:
df4["ST_Slope"].unique()

array(['Up', 'Flat', 'Down'], dtype=object)

In [43]:
df4 = pd.get_dummies(df4 , columns=["ChestPainType","RestingECG","ST_Slope"], drop_first=True)

In [44]:
df4

,Age,Sex,RestingBP,Cholesterol,FastingBS,MaxHR,ExerciseAngina,Oldpeak,HeartDisease,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA,RestingECG_Normal,RestingECG_ST,ST_Slope_Flat,ST_Slope_Up
0,40,1,140,289,0,172,0,0.0,0,1,0,0,1,0,0,1
1,49,0,160,180,0,156,0,1.0,1,0,1,0,1,0,1,0
2,37,1,130,283,0,98,0,0.0,0,1,0,0,0,1,0,1
3,48,0,138,214,0,108,1,1.5,1,0,0,0,1,0,1,0
4,54,1,150,195,0,122,0,0.0,0,0,1,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,1,110,264,0,132,0,1.2,1,0,0,1,1,0,1,0
914,68,1,144,193,1,141,0,3.4,1,0,0,0,1,0,1,0
915,57,1,130,131,0,115,1,1.2,1,0,0,0,1,0,1,0
916,57,0,130,236,0,174,0,0.0,1,1,0,0,0,0,1,0
917,38,1,138,175,0,173,0,0.0,0,0,1,0,1,0,0,1

In [50]:
from sklearn.preprocessing import MinMaxScaler
scale = MinMaxScaler()
df4[["Age","RestingBP","Cholesterol","MaxHR","Oldpeak"]]= scale.fit_transform(df4[["Age","RestingBP","Cholesterol","MaxHR","Oldpeak"]])

In [51]:
df4

,Age,Sex,RestingBP,Cholesterol,FastingBS,MaxHR,ExerciseAngina,Oldpeak,HeartDisease,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA,RestingECG_Normal,RestingECG_ST,ST_Slope_Flat,ST_Slope_Up
0,0.244898,1,0.756757,0.557915,0,0.788732,0,0.393939,0,1,0,0,1,0,0,1
1,0.428571,0,0.864865,0.347490,0,0.676056,0,0.545455,1,0,1,0,1,0,1,0
2,0.183673,1,0.702703,0.546332,0,0.267606,0,0.393939,0,1,0,0,0,1,0,1
3,0.408163,0,0.745946,0.413127,0,0.338028,1,0.621212,1,0,0,0,1,0,1,0
4,0.530612,1,0.810811,0.376448,0,0.436620,0,0.393939,0,0,1,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,0.346939,1,0.594595,0.509653,0,0.507042,0,0.575758,1,0,0,1,1,0,1,0
914,0.816327,1,0.778378,0.372587,1,0.570423,0,0.909091,1,0,0,0,1,0,1,0
915,0.591837,1,0.702703,0.252896,0,0.387324,1,0.575758,1,0,0,0,1,0,1,0
916,0.591837,0,0.702703,0.455598,0,0.802817,0,0.393939,1,1,0,0,0,0,1,0
917,0.204082,1,0.745946,0.337838,0,0.795775,0,0.393939,0,0,1,0,1,0,0,1

In [52]:
df4.describe()

,Age,Sex,RestingBP,Cholesterol,FastingBS,MaxHR,ExerciseAngina,Oldpeak,HeartDisease,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA,RestingECG_Normal,RestingECG_ST,ST_Slope_Flat,ST_Slope_Up
count,902.000000,902.000000,902.000000,902.000000,902.000000,902.000000,902.000000,902.000000,902.000000,902.000000,902.000000,902.000000,902.000000,902.000000,902.000000,902.000000
mean,0.520159,0.790466,0.712728,0.380979,0.232816,0.541184,0.402439,0.523853,0.548780,0.189579,0.222838,0.049889,0.604213,0.194013,0.501109,0.435698
std,0.192737,0.407202,0.095582,0.207694,0.422860,0.179234,0.490662,0.153509,0.497891,0.392185,0.416381,0.217837,0.489290,0.395659,0.500276,0.496123
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.387755,1.000000,0.648649,0.333977,0.000000,0.422535,0.000000,0.393939,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.530612,1.000000,0.702703,0.428571,0.000000,0.549296,0.000000,0.469697,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000
75%,0.653061,1.000000,0.756757,0.513514,0.000000,0.676056,1.000000,0.621212,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,1.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [54]:
X = df4.drop("HeartDisease",axis=1)
y= df4["HeartDisease"]

In [55]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [57]:
from sklearn.svm import SVC
model = SVC()
model.fit(X_train,y_train)
model.score(X_test, y_test)

0.856353591160221

In [97]:
from sklearn.ensemble import BaggingClassifier
model1= BaggingClassifier(estimator=SVC() ,n_estimators=100 ,max_samples=0.5, max_features=0.5, oob_score=True, random_state=0)
model1.fit(X_train, y_train)
model1.score(X_test,y_test)

0.8674033149171271

In [81]:
from sklearn.tree import DecisionTreeClassifier
model2 = DecisionTreeClassifier()
model2.fit(X_train, y_train)
model2.score(X_test, y_test)

0.7624309392265194

In [94]:
from sklearn.ensemble import BaggingClassifier
model3= BaggingClassifier(estimator=DecisionTreeClassifier() ,n_estimators=100 ,max_samples=0.3, max_features=0.3, oob_score=True, random_state=0)
model3.fit(X_train, y_train)
model3.score(X_test,y_test)

0.8729281767955801

In [91]:
model1.oob_score_ , model3.oob_score_

(0.8349514563106796, 0.8349514563106796)

# using cross val score

In [101]:
from sklearn.model_selection import cross_val_score
score = cross_val_score(SVC(), X ,y ,cv=5)
score.mean()

0.833609576427256

In [103]:
score1 = cross_val_score(BaggingClassifier(estimator=SVC() ,n_estimators=100 ,max_samples=0.5, max_features=0.5, oob_score=True, random_state=0), X ,y ,cv=5)
score1.mean()

0.8291528545119705

In [104]:
score2 = cross_val_score( DecisionTreeClassifier(), X ,y ,cv=5)
score2.mean()

0.7315592387968078

In [105]:
score3 = cross_val_score(BaggingClassifier(estimator=DecisionTreeClassifier() ,n_estimators=100 ,max_samples=0.3, max_features=0.3, oob_score=True, random_state=0), X ,y ,cv=5)
score3.mean()

0.8369367710251687